#mainPage {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr;
}

#mainNav {
    display: flex;
    flex-direction: column;
    border: 3px solid red;
    padding: 16px;
    align-items: center;
}

#tasksNavigationContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 3px solid beige;
}

.todoContainer, .projectContainer {
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    border: 5px solid gainsboro;
    margin: 8px;
    padding: 8px;
}

.todoNameContainer {
    display: flex;
    align-items: center;
    padding: 0px 8px;
}

.todoNameContainer p {
    margin-right: auto;
}

.todoDescriptionContainer , .projectDescriptionContainer {
    margin-bottom: 16px;
}


.todoDescriptionContainer p, .projectDescriptionContainer p{
    margin-left: 32px;
}

.todoTasksContainer , .projectTodosContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


.taskContainer {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
    padding: 16px;
    margin-bottom: 8px;
    border: 3px solid aquamarine;
}

.taskMainContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 8px;
    border-radius: 8px;
}

.taskMainContainerLeftPart {
    margin-right: auto;
    display: flex;
    gap: 8px;
    justify-content: center;
    align-items: center;
}

.taskMainConainerRightPart {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin-right: 16px;
}